@font-face{
  font-family: 'Lobster';
  src: local('Lobster-Regular'), url(./Fonts/Lobster-Regular.ttf) format('truetype');
  }

.App{
  text-align: center;
  font-family: 'Lobster';
}

nav{
display: flex;
justify-content: space-around;
align-items: center;
min-height: 10vh;
background: rgb(75,75,75);
color: wheat;
font-family: 'Lobster';
font-size: x-large;
}

.navigation-links{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
